<a href="https://colab.research.google.com/github/Alekhyo/Decision-Tree/blob/master/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import math

## 1. You have to work on the play tennis(https://www.kaggle.com/fredericobreno/play-tennis) dataset and manually find out on which column the first split will take place.

In [0]:
df=pd.read_csv('play_tennis.csv')
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [0]:
def calculate_entropy(val):     #Function to calculate entropy defined by the formula: -Py.log(Py)-Pn.log(Pn)
    try:
        val=float(val)
        return round((-val*math.log(val,2)-(1-val)*math.log(1-val,2)),2)
    except:
        return 0.0

In [0]:
def divide(val1,val2):         #Function to divide two numbers
    try:
        return (round(val1/val2,2))
    except:
        return 0.0

In [0]:
parent=calculate_entropy(df[df['play']=='Yes'].shape[0]/df.shape[0])  #Calculating entropy of Parent

In [0]:
def find_IG(col_name):
    IG=parent
    categories=df[col_name].unique()
    no_of_category=len(categories)
    weighted_average=[]
    entropy_of_children=[]
    
    for name in categories:
        weighted_average.append(divide(df.loc[df[col_name]==name].shape[0],df.shape[0])) #Find weighted average of every children
        entropy_of_children.append(divide((df.loc[(df[col_name]==name) & (df['play']=='Yes')].shape[0]),(df.loc[df[col_name]==name].shape[0])))
        
    for i in range(0,no_of_category):
        entropy_of_children[i]=calculate_entropy(entropy_of_children[i]) #Find entropy of every children
    
    for i in range(0,no_of_category):
        IG=IG-(weighted_average[i]*entropy_of_children[i])
        #Calculate IG=entropy(PARENT)-weighted_average*entropy(CHILDREN)
    
    return(round(IG,2))

In [0]:
IG_dict={}

In [0]:
for i in df.columns[1:-1]:  #Storing IG of every column except 'DAY' and 'PLAY'
    IG_dict[i]=find_IG(i)

In [0]:
print(" Hence the splitting the dataset along the feature {} results in the largest information gain and we should use this feature for our root node.".format(max(IG_dict, key=IG_dict.get)))

 Hence the splitting the dataset along the feature outlook results in the largest information gain and we should use this feature for our root node.

## OUTLOOK column has highest IG

##  2. You have to work on the iris dataset and manually find out the splitting criteria for Petal Length column

In [0]:
iris=pd.read_csv('iris.csv')
iris.drop(columns={'Id','SepalLengthCm','SepalWidthCm','PetalWidthCm'},inplace=True)
iris.rename(columns={'PetalLengthCm':'PL'},inplace=True)

In [0]:
iris=iris.sort_values('PL')

In [0]:
def calculate_multi_entropy(array):    #Function to calculate entropy using: -P1log(P1)-P2log(P2)-P3log(P3)
    try:
        res=0
        for i in range(0,len(array)):
            res=res-array[i]*math.log(array[i],2)
        return res
    except:
        return 0

In [0]:
category=[]
for species in iris['Species'].unique():
    category.append(iris[iris['Species']==species].shape[0]/iris.shape[0])

In [0]:
parent=calculate_multi_entropy(category) #Entropy of Parent

In [0]:
def find_IG_numerical(value):   #Function to calculate entropy of Numerical Column
    value=float(value)
    entropy1=[]
    weighted1=0
    
    entropy2=[]
    weighted2=0
    
    df1=iris[iris['PL']<=value]    #Dataframe where PL<=threshold
    df2=iris[iris['PL']>value]     #Dataframe where PL>threshold
    for i in val:
        entropy1.append(divide(df1[df1['Species']==i].shape[0],df1.shape[0]))
        weighted1=divide(df1.shape[0],iris.shape[0])     #Weight of child1
        
        entropy2.append(divide(df2[df2['Species']==i].shape[0],df2.shape[0]))
        weighted2=divide(df2.shape[0],iris.shape[0])     #Weight of child2
    
    
    entropy_of_children1=calculate_multi_entropy(entropy1)  #Entropy of child1
    entropy_of_children2=calculate_multi_entropy(entropy2)  #Entropy of child2
    
    w_total=weighted1*entropy_of_children1+weighted2*entropy_of_children2   #Weighted_average*Entropy(Children)
    return (parent-w_total)      #IG=Entropy(PARENT)-Weighted_average*Entropy(Children)

In [0]:
IG=[]                                         #Finding the IG of every value in PL(Petal_length) column
for i in iris['PL'].values:
    IG.append(find(i))
IG=np.array(IG)

In [0]:
iris.iloc[np.argmax(IG)]                     #Finding the threshold value for ideal splitting

PL                 1.9
Species    Iris-setosa
Name: 24, dtype: object

## Petal_length=1.9 has the highest IG